In [2]:
import pandas as pd

In [49]:
df = pd.read_csv('green_tripdata_2019-01.csv',nrows=100)

In [50]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [51]:
from sqlalchemy import create_engine

In [52]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [53]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [54]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [55]:
df.head(n=0).to_sql(name='green_taxi_data',con=engine, if_exists='replace')

0

In [56]:
from time import time

In [57]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [58]:
while True :
    t_start = time()
    df = next(df_iter)
        
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    
    df.to_sql(name='green_taxi_data',con=engine, if_exists='append')
    
    t_end = time()
    print('inserted another chuck..., took %.3f second' % (t_end - t_start))

inserted another chuck..., took 7.126 second
inserted another chuck..., took 7.269 second
inserted another chuck..., took 7.073 second
inserted another chuck..., took 7.511 second
inserted another chuck..., took 7.417 second
inserted another chuck..., took 7.959 second
inserted another chuck..., took 2.233 second

StopIteration:

# Question 3. Count records
How many taxi trips were totally made on January 15?

In [64]:
query = """
SELECT count(1) FROM green_taxi_data
where lpep_pickup_datetime >=  '2019-01-15 00:00:00' AND
lpep_dropoff_datetime  < '2019-01-16 00:00:00';
"""
pd.read_sql(query, con=engine)

   count
0  20530

# Question 4. Largest trip for each day
Which was the day with the largest trip distance Use the pick up time for your calculations.

In [65]:
query = """
SELECT lpep_pickup_datetime , trip_distance
FROM green_taxi_data
order by trip_distance desc;
"""
pd.read_sql(query, con=engine)

       lpep_pickup_datetime  trip_distance
0       2019-01-15 19:27:58         117.99
1       2019-01-18 07:06:27          80.96
2       2019-01-28 21:01:59          64.27
3       2019-01-10 18:58:25          64.20
4       2019-01-06 17:31:27          60.91
...                     ...            ...
630913  2019-01-01 05:35:30           0.00
630914  2019-01-01 05:37:09           0.00
630915  2019-01-01 05:41:18           0.00
630916  2019-01-01 05:44:38           0.00
630917  2019-01-01 05:06:58           0.00

[630918 rows x 2 columns]

# Question 5. The number of passengers
In 2019-01-01 how many trips had 2 and 3 passengers?

In [66]:
query = """
SELECT count(DATE(lpep_pickup_datetime))
FROM green_taxi_data
where DATE(lpep_pickup_datetime) = '2019-01-01' 
group by passenger_count ;
"""
pd.read_sql(query, con=engine)

   count
0     21
1  12415
2   1282
3    254
4    129
5    616
6    273

# Question 6. Largest tip
For the passengers picked up in the Astoria Zone which was the drop off zone that had the largest tip? We want the name of the zone, not the id.

In [67]:
query = """
SELECT zdo."Zone" as "Dropoff Zone", tip_amount
FROM green_taxi_data g, zones zpu, zones zdo
Where zpu."Zone" = 'Astoria' AND
g."PULocationID" = zpu."LocationID" AND
g."DOLocationID" = zdo."LocationID"
Order by tip_amount desc
"""
pd.read_sql(query, con=engine)

                        Dropoff Zone  tip_amount
0      Long Island City/Queens Plaza       88.00
1                       Central Park       30.00
2                            Jamaica       25.00
3                               None       25.00
4                               None       19.16
...                              ...         ...
26041        Queensbridge/Ravenswood        0.00
26042                Jackson Heights        0.00
26043                       Steinway        0.00
26044                Jackson Heights        0.00
26045        Queensbridge/Ravenswood       -0.66

[26046 rows x 2 columns]