In [2]:
import pandas as pd

In [9]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
df = pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100)

In [14]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [24]:
from sqlalchemy import create_engine

In [25]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [27]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [12]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [58]:
df = next(df_iter)

In [59]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [48]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine, if_exists='replace')

0

In [60]:
%time df.to_sql(name='yellow_taxi_data',con=engine, if_exists='append')

Wall time: 5.81 s

1000

In [14]:
from time import time

In [17]:
while True :
    t_start = time()
    df = next(df_iter)
        
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data',con=engine, if_exists='append')
    
    t_end = time()
    print('inserted another chuck..., took %.3f second')

inserted another chuck..., took %.3f second
inserted another chuck..., took %.3f second
inserted another chuck..., took %.3f second
inserted another chuck..., took %.3f second
inserted another chuck..., took %.3f second

KeyboardInterrupt:

In [5]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [6]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [11]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265