In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

## Question 1

In [3]:
spark.version

'3.3.2'

## Question 2

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-03-09 19:38:25--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230309%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230309T233825Z&X-Amz-Expires=300&X-Amz-Signature=3ad89140a521b4db5fef48b707b42d5c2bf517d5f5e6b328e787eaf13dea6bab&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-09 19:38:25--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230309%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230309T233825Z&X-Amz-Expires=300&X-Amz-Signature=3ad89140a521b4db5fef48b707b42d5c2bf517d5f5e6b328e787eaf13dea6bab&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M  4.28MB/s    in 28s

2023-03-09 19:38:53 (6.09 MB/s) - ‘fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [24]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2021-06.csv')

In [25]:
df.dtypes

[('dispatching_base_num', 'string'),
 ('pickup_datetime', 'string'),
 ('dropoff_datetime', 'string'),
 ('PULocationID', 'string'),
 ('DOLocationID', 'string'),
 ('SR_Flag', 'string'),
 ('Affiliated_base_number', 'string')]

In [26]:
df.repartition(12)

DataFrame[dispatching_base_num: string, pickup_datetime: string, dropoff_datetime: string, PULocationID: string, DOLocationID: string, SR_Flag: string, Affiliated_base_number: string]

In [27]:
df.write.parquet('fhvhv/2021/06/',mode='overwrite')

23/03/09 19:51:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/03/09 19:51:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/03/09 19:51:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/03/09 19:51:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/03/09 19:51:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/03/09 19:51:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
23/03/09 19:51:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
23/03/09 19:51:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
23/03/09 19:51:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers

23/03/09 19:51:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
23/03/09 19:51:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
23/03/09 19:51:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
23/03/09 19:51:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers

23/03/09 19:51:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/03/09 19:51:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/03/09 19:51:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/03/09 19:51:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

12MB

## Question 3

In [28]:
df = spark.read.parquet('fhvhv/2021/06/')

In [29]:
df.registerTempTable('fhv')

In [30]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [33]:
spark.sql("""
SELECT  
    count(*)
FROM
    fhv
WHERE
    pickup_datetime between '2021-06-15 00:00:00' and '2021-06-15 23:59:59' 

""").show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

## Question 4

In [45]:
spark.sql("""
SELECT 
    pickup_datetime, dropoff_datetime, cast((DATEDIFF(minute,pickup_datetime,dropoff_datetime)/60) as float) as Duration
FROM
    fhv
Order by
    Duration Desc

""").show()

+-------------------+-------------------+---------+
|    pickup_datetime|   dropoff_datetime| Duration|
+-------------------+-------------------+---------+
|2021-06-25 13:55:41|2021-06-28 08:48:25| 66.86667|
|2021-06-22 12:09:45|2021-06-23 13:42:44|25.533333|
|2021-06-27 10:32:29|2021-06-28 06:31:20|19.966667|
|2021-06-26 22:37:11|2021-06-27 16:49:01|18.183332|
|2021-06-23 20:40:43|2021-06-24 13:08:44|16.466667|
|2021-06-23 22:03:31|2021-06-24 12:19:39|14.266666|
|2021-06-24 23:11:00|2021-06-25 13:05:35|     13.9|
|2021-06-04 20:56:02|2021-06-05 08:36:14|11.666667|
|2021-06-27 07:45:19|2021-06-27 19:07:16|    11.35|
|2021-06-20 17:05:12|2021-06-21 04:04:16|10.983334|
|2021-06-01 12:25:29|2021-06-01 22:41:32|10.266666|
|2021-06-28 13:13:59|2021-06-28 23:11:58|     9.95|
|2021-06-01 12:01:46|2021-06-01 21:59:45|     9.95|
|2021-06-27 03:52:14|2021-06-27 13:30:30| 9.633333|
|2021-06-18 08:50:29|2021-06-18 18:27:57| 9.616667|
|2021-06-11 23:26:20|2021-06-12 08:54:38| 9.466666|
|2021-06-08 16:38:14|2021-06-09 02:07:03| 9.466666|
|2021-06-15 06:47:22|2021-06-15 16:11:30|      9.4|
|2021-06-25 02:32:24|2021-06-25 11:56:01| 9.383333|
|2021-06-04 17:41:23|2021-06-05 03:04:00| 9.366667|
+-------------------+-------------------+---------+
only showing top 20 rows

## Question 5

8080

## Question 6

In [46]:
df_zones = spark.read.parquet('zones/')

In [47]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [50]:
df_join = df.join(df_zones,df.PULocationID ==  df_zones.LocationID, how='left')

In [60]:
df_join.registerTempTable('zones')

In [58]:
df_join.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [69]:
spark.sql("""
SELECT 
     Zone, count(*)
FROM
    zones
Group by
    zone
Order by
    2 desc

""").show()

+--------------------+--------+
|                Zone|count(1)|
+--------------------+--------+
| Crown Heights North|  231279|
|        East Village|  221244|
|         JFK Airport|  188867|
|      Bushwick South|  187929|
|       East New York|  186780|
|TriBeCa/Civic Center|  164344|
|   LaGuardia Airport|  161596|
|            Union Sq|  158937|
|        West Village|  154698|
|             Astoria|  152493|
|     Lower East Side|  151020|
|        East Chelsea|  147673|
|Central Harlem North|  146402|
|Williamsburg (Nor...|  143683|
|          Park Slope|  143594|
|  Stuyvesant Heights|  141427|
|        Clinton East|  139611|
|West Chelsea/Huds...|  139431|
|             Bedford|  138428|
|         Murray Hill|  137879|
+--------------------+--------+
only showing top 20 rows